<ul class="nav">
  <li><a href="https://www.expertus.ca/">Home</a></li>
  <li><a href="https://www.expertus.ca/about-us/">About</a></li>
  <li><a href="https://www.expertus.ca/solutions/">Products</a></li>
  <li><a href="https://www.expertus.ca/contact/">Contact</a></li>
  <li><a href="https://www.expertus.ca/request-a-demo/">Request Demo</a></li>
</ul>
<div style="text-align:center">
  <img src="../assets/Expertuslogo.png">
</div>
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<h2 style="text-align:center">This is not a official website of Expertus.</h2>
<h2 style="text-align:center">Wanted to know more about Expertus? We provide solutions in different domains. Please use the below buttons to navigate to respective page.</h2>
<div style="text-align:center;">
<button class="button" onclick="location.href='https://www.expertus.ca/solutions/solution-for-treasurers/'" onmouseover="this.style.cursor='pointer'">Treasurers</button>
<button class="button" onclick="location.href='https://www.expertus.ca/solutions/solution-for-banks/'" onmouseover="this.style.cursor='pointer'">Banks</button>
<button class="button" onclick="location.href='https://www.expertus.ca/solutions/case-management-solution/'" onmouseover="this.style.cursor='pointer'">Case Management</button>
<button class="button" onclick="location.href='https://www.expertus.ca/solutions/swift-connectivity/'" onmouseover="this.style.cursor='pointer'">Swift Connectivity</button>
</div><br><br>
<h2 style="text-align:center">A Glance at Expertus.</h2>
<p style="margin-left: 500px;margin-right: 500px; margin-top: 10px;">Expertus is a Montreal-based Fintech company founded in 2001 specialized in innovative payments and treasury solutions. As a pioneer in Cloud solutions for financial services, Expertus accelerates digital transformation while complying to regulations and financial policies.   <a href="https://www.expertus.ca/">more...</a></p>
<br>
<h2 style="text-align:center">Let us Call you. Send your contact Info.</h2>
<fieldset style="width:525px; border-radius: 5px;margin: auto">
  <form [formGroup]="messageForm">
    <flash-messages style="color:red; text-align:center"></flash-messages>
    <input formControlName="_firstName"class="textfields1" type="text" placeholder="First Name">
    <input formControlName="_lastName" class="textfields" type="text" placeholder="Last Name">
    <input formControlName="_phoneNumber" class="textfields1" type="text" placeholder="Phone Number">
    <input formControlName="_emailAddress" class="textfields" type="text" placeholder="Email Address">
    <textarea formControlName="_textmessage" placeholder="Type your Message here..." cols="71" rows="10" maxlength="1000"></textarea>
    <br>
    <button style="margin-left: 205px" class="button" onmouseover="this.style.cursor='pointer'" 
    (click)="SendMessage()">Send Message</button>
  </form>
</fieldset>
<ul class="nav1">
<h5>Your Location: {{CurrentLocation}}, Temparature: {{Temp}}Kelvin, Pressure: {{pressure}}hPa, Humidity: {{Humidity}}%</h5>
<h3>Company HQ: 2055 Peel, suite 260, Montreal, Québec H3A 1V4</h3>
</ul>

